body{
    background-color: #333855;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo{
    width:150px;
}

.newGridButton{
    padding:10px 20px;
    height:50px;
    background-color: #FFD300;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    transition: ease 0.22s;
}
.newGridButton:hover{
    background-color: white;
    transition: ease 0.22s;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:700px;
    align-items: center;
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:700px;
    margin: 0;
    padding: 0;
    gap:0px;
}
.container div{
    flex-shrink: 0;
    box-sizing: border-box;
}

.square{
    background-color: white;
}