.container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:700px;
    margin: 0;
    padding: 0;
    gap:0px;
}
.container div{
    flex-shrink: 0;
    box-sizing: border-box;
}

.square{
    background-color: white;
}